<div class="main-page__container">
  <app-header
    (changeTheme)="changeTheme($event)"
    [navItems]="navItems()"
    [headerKey]="headerKey()"
    [pageWidth]="pageWidth()"></app-header>
  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="!isMediumWidth()">
      <mat-nav-list>
        @for (item of navItems(); track item.headerKey) {
          <a
            mat-list-item
            [routerLink]="[item.route]"
            routerLinkActive="active">
            {{ item.headerKey | translate }}
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
