.list-items {
  &__container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 10px;
    list-style: none;
    margin: 5px;
  }

  @media screen and (min-width: 600px) {
    &__container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media screen and (min-width: 1280px) {
    &__container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &__item {
    height: 50vh;
  }
}

.text__center {
  text-align: center;
}
